 <!--space program  -->
 <section class="space-program-wrapper">
  <h1>Space X Launch Programs</h1>
  <div class="space-inner">
      <!-- left-aside-panel -->
      <aside class="left-panel">
          <h2>Filter</h2>
          <!--Launch Year section -->
          <div class="heading-title">
              Launch Year
          </div>
          <ul>
              <li *ngFor="let year of years" class="pointer">
                  <span class="pointer" (click)="filterByYear(year);">{{year}}</span>
              </li>

          </ul>
          <!--Launch Year section end -->

          <!-- Successful Lauch section -->
          <div class="heading-title">
              Successful Launch
          </div>
          <ul>
              <li class="pointer">
                  <span  (click)="filterByLaunch(true);">True</span>
              </li>
              <li class="pointer">
                <span  (click)="filterByLaunch(false);">False</span>
              </li>
          </ul>
          <!-- Successful Lauch section end -->

          <!-- Successful Landing section -->
          <div class="heading-title">
              Successful Land
          </div>
          <ul>
              <li class="pointer">
                  <span (click)="filterByLand(true)">True</span>
              </li>
              <li class="pointer">
                <span (click)="filterByLand(false)">False</span>
              </li>
          </ul>
          <!-- Successful Landing section end -->
      </aside>
      <!-- left-aside-panel end -->
      <!-- Right-aside-panel  -->
      <article class="right-panel">
          <!-- programm block -->
          <div class="program-wrapper" *ngFor="let product of productListing;">
              <img src="{{product.links.mission_patch}}" alt="">
              <ul>
                  <li class="mission">
                      <span class="boldFont">Mission Name:</span>
                      <span>{{product.mission_name}}</span>
                  </li>
                  <li>
                      <span class="boldFont">Mission Ids:</span>
                      <span>{{product.mission_id}}</span>

                  </li>
                  <li>
                      <span class="boldFont">Launch Year:</span>
                      <span>{{product.launch_year}}</span>

                  </li>
                  <li>
                      <span class="boldFont">Successful Launch:</span>
                      <span>{{product.launch_success}}</span>


                  </li>
                  <li>
                      <span class="boldFont">Successful Landing:</span>
                      <span>{{product.mission_name}}</span>

                  </li>
              </ul>
          </div>
          <!-- programm block end -->

          <div style="width:100%; padding:120px; font-size: 30px; text-align:center" class="program-wrapper" *ngIf="productListing.length == 0">
            No Data Found
          </div>

      </article>
      <!-- Right-aside-panel end -->


  </div>
  <!-- Developed By -->
  <div class="develped">
      <span>Developed By: {{Developer}} </span>
  </div>
  <!-- Developed end -->
</section>
<!-- space program  -->
